@import '~/styles/variables.scss';
.card {
  @media (max-width: $tablet) {
    padding-bottom: 24px;
  }
}
.activitiesWrapper {
  overflow: auto;
  max-height: 450px;
  &::-webkit-scrollbar {
    width: 3px;
    height: 0px;
    background: #dfe7e8;
  }
  &::-webkit-scrollbar-thumb {
    background: #0ebec2;
    border-radius: 30px;
  }
}
.activities {
  &:not(:first-child) {
    border-top: 1px solid rgba(map-get($color, dark-grey-blue), 0.1);
  }
  // padding: 14px 17px 15px 18px;
  padding: 10px 25px 7px 0px;
  // margin: 0 -5px;
  @media (max-width: $tablet) {
    padding: 20px 0 18px;
  }
  .activitiesRow {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .status,
    .time,
    .ftm {
      margin: 0;
      color: map-get($color, dark-grey-blue);
    }
    .ftm {
      &.recive {
        color: map-get($color, topaz);
      }
    }
    .status {
      width: 210px;
      font-size: 16px;
      font-weight: 500;
      flex: 0 0 210px;
      max-width: 210px;
      @media (max-width: $tablet) {
        display: none;
      }
      svg {
        margin-right: 10px;
      }
    }
    .timeFtmWrapper {
      // flex: 0 0 calc(100% - 210px);
      // max-width: calc(100% - 210px);
      // @media (max-width: $tablet) {
      flex: 0 0 100%;
      max-width: 100%;
      // }
    }
    .time {
      font: {
        size: 16px;
        weight: 400;
      }
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      text-align: center;
      line-height: 1.31;
      color: map-get($color, dark-grey-blue);
      @media (max-width: $tablet) {
        font-size: 12px;
      }
    }
    .ftm {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.31;
      @media (max-width: $tablet) {
        font-size: 14px;
      }
    }
  }
}

.subView {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 24px;
  @media (max-width: $desktop) {
    padding-left: 15px;
  }
  @media (max-width: $tablet) {
    margin-bottom: 16px;
  }

  &:last-child {
    margin-bottom: 13px;
    @media (max-width: $tablet) {
      margin-bottom: 2px;
    }
  }
  .subViewTitle,
  .subViewValue {
    margin: 0;
    color: map-get($color, dark-grey-blue);
    font-size: 16px;
    @media (max-width: $tablet) {
      font-size: 12px;
      line-height: 1.33;
    }
  }
  .subViewTitle {
    font-weight: 500;
    flex: 0 0 100%;
    max-width: 100%;
    font-size: 14px;
    opacity: 0.9;
    margin-bottom: 4px;
    @media (max-width: $tablet) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .subViewValue {
    flex: 0 0 100%;
    max-width: 100%;
    font-size: 12px;
    display: flex;
    word-break: break-all;
    align-items: baseline;

    @media (max-width: $tablet) {
      flex: 0 0 100%;
      max-width: 100%;
    }
    a {
      color: map-get($color, Primary-Main);
      font-weight: 600;
      &:not(:hover) {
        text-decoration: none;
      }
    }
    button {
      cursor: pointer;
      outline: none !important;
      background: transparent;
      border: 0;
      padding: 0;
      margin-left: 20px;
      color: rgba(map-get($color, dark-grey-blue), 0.5);
      &:hover {
        color: rgba(map-get($color, dark-grey-blue), 0.7);
      }
      svg {
        width: 18px;
        height: 20px;
      }
    }
  }
}
