@import '~/styles/variables.scss';

.wrap {
  padding: 70px 0 50px;
  background: $color_darkgray;
}

.dropzone {
  min-height: 25vh;
  flex: 1 0 25vh;
  border-radius: 6px;
  border: 4px dashed #999999;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  h2 {
    text-transform: uppercase;
    opacity: 0.3;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
