@import '~/styles/variables.scss';

.dropdownToggle {
  opacity: 0.5;
  text-decoration: none;
  color: #fff !important;
  font-size: 14px !important;
  background: transparent !important;
  border: 0 !important;
  min-width: initial !important;
  &:hover,
  &:active,
  &:focus {
    opacity: 1;
    background: transparent !important;
  }
}
