@import "~/styles/variables.scss";

.panel {
  background: $color_primary;
  height: $panel_height;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.title {
  flex: 1;
  padding: 12px 30px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.right {
  flex: 0;
}
