@import '~/styles/variables.scss';

.infoIcon {
  // position: relative;
  margin-left: 5px;
  color: #e1e3e7;
  cursor: pointer;
  .tooltipWrapper {
    display: none;
  }
  &:hover {
    .tooltipWrapper {
      display: block;
      background: #fff;
      box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);
      position: absolute;
      padding: 10px;
      bottom: 100%;
      max-width: 235px;
      border-radius: 16px;
      right: 0;
      p {
        font-size: 12px;
      }
    }
  }

  i {
    position: absolute;
    right: 20px;
    top: 15px;
  }
}
.balanceCard {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  min-height: 125px;
}
