@import "~/styles/variables.scss";
$color: #999999;

.menu_icon {
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 !important;

  span {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background: $color;
    position: relative;

    &::after, &::before {
      content: ' ';
      position: absolute;
      left: -7px;
      width: 4px;
      height: 4px;
      border-radius: 5px;
      top: 0;
      background: $color;
    }

    &::after {
      left: 7px;
    }
  }

  &:hover {
    .menu {
      display: block;
    }
  }
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 4px;
  color: $color_primary;
  font-weight: 600;
  white-space: nowrap;
  top: 32px;
  display: none;

  & > div {
    padding: 10px;
  }
}