@import '~/styles/variables.scss';

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.error_overlay,
.connection_overlay,
.empty_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparentize($color: $color_darkgray, $amount: 0.01);
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
  color: transparentize(white, 0.8);
  animation: appear 0.25s forwards;

  i {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.list_wrapper {
  position: relative;
  flex:1;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 100px;
  grid-auto-flow: row;

  & > div {
    padding: 15px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid transparentize(white, 0.8);
  }

  i {
    color: transparentize(white, 0.7);
  }
}

.center {
  text-align: center;
}

.th {
  // background: transparentize(white, 0.9);
  font-weight: bold;
  border-bottom: 2px solid transparentize(white, 0) !important;
  text-transform: uppercase;
}

.heading {
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 20px 1fr auto auto;
  column-gap: 20px;

  h2 {
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
  }

  div {
    cursor: pointer;
    
    i {
      margin: 0 10px;
    }
  }
}

.is_disabled {
  pointer-events: none;
  touch-action: none;
  opacity: 0.3;
}