@import '~/styles/variables.scss';

.value {
  color: map-get($color, dark-grey-blue);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.addTitle {
  color: map-get($color, topaz);
}

.addCard {
  min-height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addBtn {
  width: 80px;
  background: transparent;
  border: 0;
}