@import '~/styles/variables.scss';

.validatorBtn {
  width: 300px;
  position: relative;
  padding: {
    left: 35px;
    right: 35px;
  }
  i {
    position: absolute;
    top: 50%;
    right: 21px;
    transform: translateY(-50%);
  }
}
