@import '~/styles/variables.scss';

.validatorBtn {
  width: 300px;
  position: relative;
  padding: {
    left: 35px;
    right: 35px;
  }
  i {
    position: absolute;
    top: 50%;
    right: 21px;
    transform: translateY(-50%);
  }
}
.iconGap {
  margin-bottom: 40px;
}

.copyBtn {
  cursor: pointer;
  background: transparent;
  border: 0;
  padding: 0;
}

.card {
  text-align: center;
  max-width: 470px;
  margin: {
    left: auto;
    right: auto;
  }
}

.hash {
  display: flex;
  flex-wrap: wrap;
  a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 24px;
    font-weight: 600;
    flex: 0 0 calc(100% - 18px);
    max-width: calc(100% - 18px);
  }
  .copyBtn {
    flex: 0 0 18px;
    max-width: 18px;
    svg {
      width: 18px;
      height: 20px;
      color: rgba(map-get($color, dark-grey-blue), 0.5);
    }
  }
}
