@import '~/styles/variables.scss';

.selector {
  margin-top: 30px;
}

.icons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.refresh {
  img {
    width: 40px;
    cursor: pointer;
  }
}

.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  .check {
    width: 16px;
    height: 16px;
    margin-right: 20px;
    background: none;
    border: 2px solid #666666;
    border-radius: 100%;
    position: relative;
    cursor: pointer;

    &::after {
      content: ' ';
      background-color: $color_primary;
      width: 8px;
      height: 8px;
      position: absolute;
      top: 2px;
      left: 2px;
      border-radius: 100%;
      display: none;
    }

    &.checked {
      border: 2px solid $color_primary;

      &::after {
        display: block;
      }
    }
  }

  svg {
    cursor: pointer;
  }
}
