.selector {
  margin-top: 30px;
}

.icons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
} 

.refresh {
  
  img {
    width: 40px;
    cursor: pointer;
  }
}

.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  input {
    margin-right: 20px;
  }

  svg {
    cursor: pointer;
  }
}