@import '~/styles/variables.scss';
.qrWrapper {
  margin-bottom: 40px;
}
.cardTitle {
  margin-bottom: 70px;
  @media (max-width: $tablet) {
    margin-bottom: 40px;
  }
}
.iconGap {
  margin-bottom: 40px;
}

.copyBtn {
  cursor: pointer;
  background: transparent;
  border: 0;
  padding: 0;
}
.hash {
  display: flex;
  word-break: break-all;
  align-items: baseline;

  a {
    // white-space: nowrap;
    // text-overflow: ellipsis;
    // overflow: hidden;
    font-size: 24px;
    font-weight: 600;
    color: map-get($color, dark-grey-blue);
    padding-right: 20px;
    @media (max-width: $desktop) {
      flex: 0 0 calc(100% - 50px);
      max-width: calc(100% - 50px);
    }
    @media (max-width: $tablet) {
      font-size: 20px;
    }

    &:hover {
      color: map-get($color, dark-grey-blue);
    }
  }

  .copyBtn {
    @media (max-width: $desktop) {
      flex: 0 0 50px;
      max-width: 50px;
      text-align: right;
    }

    svg {
      // width: 18px;
      // height: 20px;
      color: rgba(map-get($color, dark-grey-blue), 0.7);
    }
  }
}
.btnWrapper {
  display: flex;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.card {
  padding: 40px;
  max-width: 970px;
  margin: 0 auto;
}

.optionBtn {
  margin: 0 7px;
  min-width: 80px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  svg {
    margin-bottom: 12px;
  }
}

.amountInput {
  max-width: 245px;
  margin: 10px auto 31px;
  display: flex;
  background-color: #f8f9fa;
  border-radius: 8px;

  input {
    background-color: #f8f9fa;
    border: 0;
    font-size: 18px;
    height: 40px;
    &::-webkit-input-placeholder {
      color: rgba(map-get($color, dark-grey-blue), 0.3);
      font-weight: 400;
    }

    &:-moz-placeholder {
      color: rgba(map-get($color, dark-grey-blue), 0.3);
      font-weight: 400;
    }

    &::-moz-placeholder {
      color: rgba(map-get($color, dark-grey-blue), 0.3);
      font-weight: 400;
    }

    &:-ms-input-placeholder {
      color: rgba(map-get($color, dark-grey-blue), 0.3);
      font-weight: 400;
    }
  }
  button {
    outline: none !important;
    font-size: 18px;
    background-color: transparent !important;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: solid 2px rgba(43, 57, 84, 0.2);
    color: map-get($color, topaz);
  }
}
.headWrapper {
  @media (max-width: $tablet) {
    background: #fff;
    margin: 0 -25px 20px;
    padding: 0px 25px 20px;
  }
  @media (max-width: $smallPhone) {
    margin: {
      left: -15px;
      right: -15px;
    }
    padding: {
      left: 15px;
      right: 15px;
    }
  }
}
.boxWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 50px;
  @media (max-width: $tablet) {
    flex-wrap: wrap;
  }

  .box {
    opacity: 0.4;
    @media (max-width: $tablet) {
      flex: 0 0 50%;
      max-width: 50%;
      text-align: center;
    }
    &.active {
      opacity: 1;
    }

    p {
      color: map-get($color, dark-grey-blue);
      text-align: center;
      margin-top: 10px;
    }
    img {
      @media (max-width: $tablet) {
        width: 40%;
      }
    }
  }
}
