@import '~/styles/variables.scss';
.qrWrapper {
  margin-bottom: 40px;
}
.cardTitle {
  margin-bottom: 70px;
  @media (max-width: $tablet) {
    margin-bottom: 40px;
  }
}
.btnWrapper {
  display: flex;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.optionBtn {
  margin: 0 7px;
  min-width: 80px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  svg {
    margin-bottom: 12px;
  }
}

.amountInput {
  max-width: 245px;
  margin: 10px auto 31px;
  display: flex;
  background-color: #f8f9fa;
  border-radius: 8px;

  input {
    background-color: #f8f9fa;
    border: 0;
    font-size: 18px;
    height: 40px;
    &::-webkit-input-placeholder {
      color: rgba(map-get($color, dark-grey-blue), 0.3);
      font-weight: 400;
    }

    &:-moz-placeholder {
      color: rgba(map-get($color, dark-grey-blue), 0.3);
      font-weight: 400;
    }

    &::-moz-placeholder {
      color: rgba(map-get($color, dark-grey-blue), 0.3);
      font-weight: 400;
    }

    &:-ms-input-placeholder {
      color: rgba(map-get($color, dark-grey-blue), 0.3);
      font-weight: 400;
    }
  }
  button {
    outline: none !important;
    font-size: 18px;
    background-color: transparent !important;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: solid 2px rgba(43, 57, 84, 0.2);
    color: map-get($color, topaz);
  }
}
