@import '~/styles/variables.scss';
.title {
  margin-bottom: 6px;
  @media (max-width: $tablet) {
    font-size: 21px;
    margin-bottom: 4px;
  }
}
.dec {
  margin-bottom: 31px;
  @media (max-width: $tablet) {
    margin-bottom: 29px;
  }
}
.card {
  @media (max-width: $tablet) {
    padding-bottom: 10px !important;
  }
}
.table {
  @media (max-width: $tablet) {
    margin-bottom: 0px;
  }
  .tableHead {
    @media (max-width: $tablet) {
      display: none;
    }
  }
  th,
  td {
    padding: {
      left: 10px;
      right: 10px;
    }
    border-color: rgba(map-get($color, dark-grey-blue), 0.1);
  }
  th {
    border: 0 !important;
    font-size: 12px;
    font-weight: 600;
    color: rgba(map-get($color, dark-grey-blue), 0.5);
    svg {
      margin-left: 10px;
    }
    &.up {
      polygon:first-child {
        color: map-get($color, Primary-Main);
      }
    }
    &.down {
      polygon:last-child {
        color: map-get($color, Primary-Main);
      }
    }
  }
}

.validatingPowerLable {
  margin-bottom: 4px;
  font-size: 10px;
  font-weight: 600;
  color: rgba(map-get($color, dark-grey-blue), 0.5);
}
.txDetails {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.31;
  color: rgba(map-get($color, dark-grey-blue), 0.8);
  @media (max-width: $tablet) {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
  }
  b {
    font-weight: 600;
    color: map-get($color, dark-grey-blue);
  }
  &.index {
    line-height: 1.5;
    color: rgba(map-get($color, dark-grey-blue), 0.9);
    @media (max-width: $tablet) {
      font-weight: 600;
      line-height: 1.33;
      color: map-get($color, dark-grey-blue);
    }
  }
}
.indexBox {
  width: 31px;
  @media (max-width: $tablet) {
    width: 14px;
  }
}
.contentRow {
  cursor: pointer;
  &:first-child {
    td {
      border-top: 0;
    }
  }
  td {
    vertical-align: middle;
    border-bottom: 0;
    @media (min-width: $tablet) {
      height: 59px;
    }
    @media (max-width: $tablet) {
      padding: 10px 0;
      vertical-align: top;
    }
  }
}
.subViewRow {
  td {
    border-top: 0;
  }
  .subViewTable {
    @media (max-width: $tablet) {
      display: block;
    }
    tr {
      @media (max-width: $tablet) {
        display: flex;
        flex-direction: column;
      }
      td {
        vertical-align: middle;
        @media (min-width: $tablet) {
          height: 59px;
        }
        @media (max-width: $tablet) {
          padding: 0;
        }
        .txDetails {
          @media (max-width: $tablet) {
            &.label {
              font-weight: 600;
              font-size: 10px;
              color: rgba(map-get($color, dark-grey-blue), 0.5);
              margin-bottom: 4px;
              span {
                display: none;
              }
            }
            &.value {
              font-size: 12px;
              font-weight: 700;
              margin-bottom: 12px;
            }
          }
        }
      }
    }
  }
}
.subViewContainer {
  @media (min-width: $tablet) {
    padding: 12px 50px 40px;
  }
  @media (max-width: $tablet) {
    padding-bottom: 30px;
  }
}

.selectBtn {
  @media (max-width: $tablet) {
    width: 100%;
    font-size: 16px !important;
  }
}
