$b-bar: #5ea5ee;
$transition-time: 0.3s;
#account-process {
  max-width: 876px;
  margin: auto;
  position: relative;
  .col {
    padding: 0;
    &.c-1 {
      h2 {
        @media (max-width: 372px) {
          text-align: center;
        }
      }
    }
    svg {
      @media (max-width: 767px) {
        transform: scale(0.6);
      }
      @media (max-width: 500px) {
        transform: scale(0.5);
        .ico {
          transform: scale(0.9) !important;
        }
      }
      height: 60px;
      width: 81px;
      fill: #8f8f8f;
      .ico {
        transform: scale(0.7);
        transform-origin: 50%;
      }
    }
    h2 {
      color: #fff;
      margin-top: 10px;
      font: {
        family: "Roboto Condensed";
        size: 16px;
      }
      @media (max-width: 767px) {
        font: {
          size: 14px;
        }
      }
    }
  }
  .process-bar {
    position: absolute;
    top: 20px;
    left: 40px;
    right: 40px;
    height: 17px;

    z-index: -1;
    @media (max-width: 767px) {
      top: 18px;
      height: 12px;
    }
    @media (max-width: 767px) {
      top: 16px;
      height: 8px;
    }
    .holder {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      .element {
        position: relative;
        width: 25%;
        height: 100%;
        display: inline-block;
        transform: skew(-35deg);
        &::before {
          transition: #{$transition-time} all;
          content: "";
          position: absolute;
          display: block;
          top: 0;
          bottom: 0;
          left: 0;
          right: 100%;
          background: $b-bar;
        }
        &.e-1 {
          background: #8f8f8f;
        }
        &.e-2 {
          background: #b6b6b6;
        }
        &.e-3 {
          background: #8f8f8f;
        }
        &.e-4 {
          background: #b6b6b6;
        }
      }
    }
  }
  &.t-1 {
    .c-1 {
      h2 {
        color: $b-bar;
      }
      svg {
        fill: $b-bar;
      }
    }
    .element {
      &.e-1 {
        &::before {
          right: 0;
        }
      }
    }
  }
  &.t-2 {
    .c-2 {
      h2 {
        color: $b-bar;
      }
      svg {
        transition-delay: $transition-time;
        fill: $b-bar;
      }
    }
    .element {
      &.e-3 {
        &::before {
          transition-delay: $transition-time;
        }
      }
      &.e-2,
      &.e-3 {
        &::before {
          right: 0;
        }
      }
    }
  }
  &.t-3 {
    .c-3 {
      h2 {
        color: $b-bar;
      }
      svg {
        transition-delay: $transition-time;
        fill: $b-bar;
      }
    }
    .element {
      &.e-4 {
        &::before {
          right: 0;
        }
      }
    }
  }
}
