#account-card {
  margin: {
    left: -7px;
    right: -7px;
  }
  .col-lg-3 {
    @media (min-width: 992px) and (max-width: 1400px) {
      @include responsive-width(33.33%);
    }
  }
  .main-col {
    padding: 0 7px;
    margin-bottom: 14px;
  }
  .accounts-holder {
    height: 100%;
    padding: 46px 0;
    background: {
      color: #f8f8f8;
    }
    @media (max-width: 767px) {
      margin: auto;
      max-width: 282px;
    }
    .avatar {
      margin-bottom: 28px;
      .avatar-icon {
        $box-size: 80px;
        display: block;
        margin: auto;
        width: $box-size;
        height: $box-size;
        border-radius: 100%;
        box-shadow: 0px 6px 8.73px 0.27px rgba(0, 0, 0, 0.14);
        position: relative;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0.6);
          width: 100%;
        }
      }
    }
    .title,
    p {
      font: {
        family: "Roboto Condensed";
      }
    }
    .title {
      margin-bottom: 16px;
      font: {
        size: 22px;
        weight: bold;
      }
    }
    .account-no {
      padding: 0 10%;
      text-align: left;
      i {
        color: #000;
        cursor: pointer;
        margin-right: 3px;
      }
      p {
        font: {
          size: 16px;
        }
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: map-get($color, card-account-no);
      }
    }
  }
}
//account info
#account-information {
  .acc-details {
    padding: 50px 0;

    @media (max-width: 767px) {
      padding-bottom: 50px;
    }
    .acc-name-holder {
      margin-bottom: 50px;
      .acc-name {
        display: inline-block;
        padding-left: 30px;
        color: map-get($color, acc-info-acc-name);
        font: {
          family: "Roboto Condensed";
          size: 26px;
        }
      }
    }

    .address {
      color: map-get($color, acc-info-address-title);
      margin-bottom: 22px;
      font: {
        family: "Roboto Condensed";
        size: 24px;
      }
    }
    .account-no {
      text-align: left;
      i {
        color: map-get($color, acc-info-copy-btn);
        cursor: pointer;
        margin-right: 18px;
      }
      p {
        font: {
          family: "Noto Sans";
          weight: 200;
          size: 18px;
        }
        color: map-get($color, acc-info-copy-text);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .acc-qr {
      text-align: center;
      margin-bottom: 15px;
      img {
        max-width: 180px;
      }
      @media (min-width: 768px) {
        display: none;
      }
    }
    .col {
      &.qr-col {
        max-width: 230px;
        @media (max-width: 767px) {
          max-width: 200px;
        }
        @media (max-width: 767px) {
          display: none;
        }
      }
    }
  }
}
