#account-card {
  margin: {
    left: -7px;
    right: -7px;
  }
  .col-lg-3 {
    @media (min-width: 992px) and (max-width: 1400px) {
      @include responsive-width(33.33%);
    }
  }
  .main-col {
    padding: 0 7px;
    margin-bottom: 14px;
  }
  .accounts-holder {
    height: 100%;
    padding: 46px 0;
    background: {
      color: #f8f8f8;
    }
    @media (max-width: 767px) {
      margin: auto;
      max-width: 282px;
    }
    .avatar {
      margin-bottom: 28px;
      .avatar-icon {
        $box-size: 80px;
        display: block;
        margin: auto;
        width: $box-size;
        height: $box-size;
        border-radius: 100%;
        box-shadow: 0px 6px 8.73px 0.27px rgba(0, 0, 0, 0.14);
        position: relative;
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0.9);
        }
      }
    }
    .title,
    p {
      font: {
        family: "Roboto Condensed";
      }
    }
    .title {
      margin-bottom: 16px;
      font: {
        size: 22px;
        weight: bold;
      }
    }
    .account-no {
      padding: 0 10%;
      text-align: left;
      i {
        color: #000;
        cursor: pointer;
        margin-right: 3px;
      }
      p {
        font: {
          size: 16px;
        }
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: map-get($color, card-account-no);
      }
    }
  }
}
//account info
#account-information {
  .acc-details {
    padding: 30px 28px;

    .acc-name-holder {
      margin-bottom: 26px;
      .acc-name {
        display: inline-block;
        padding-left: 30px;
        color: map-get($color, acc-info-acc-name);
        font: {
          family: "Roboto Condensed";
          size: 26px;
        }
      }
    }

    .address {
      color: map-get($color, acc-info-address-title);
      margin-bottom: 22px;
      font: {
        family: "Roboto Condensed";
        size: 24px;
      }
    }
    .account-no {
      text-align: left;
      i {
        color: map-get($color, acc-info-copy-btn);
        cursor: pointer;
        margin-right: 18px;
      }
      p {
        font: {
          family: "Noto Sans";
          weight: 200;
          size: 18px;
        }
        color: map-get($color, acc-info-copy-text);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .acc-qr {
      text-align: center;
      margin-bottom: 15px;
      canvas {
        width: 120px;
        height: 120px;
      }
      img {
        max-width: 180px;
      }
      @media (min-width: 768px) {
        display: none;
      }
    }
    .col {
      &.left-col {
        @media (min-width: 768px) {
          max-width: calc(100% - 190px);
        }
      }
      &.qr-col {
        text-align: right;
        max-width: 190px;

        @media (max-width: 767px) {
          display: none;
        }
      }
    }
  }
}

.restore-confirm {
  margin: auto;
  max-width: 795px;
  .vault-container {
    padding: 1.5rem 3rem 1rem;
    @media (max-width: 768px) {
      padding: 1.5rem 2rem;
    }
    @media (max-width: 575px) {
      padding: 1rem;
    }
    .form-group {
      label {
        color: map-get($color, restore-vault-input-label);
        font: {
          family: "Noto Sans";
          size: 16px;
        }
        @media (max-width: 768px) {
          font: {
            size: 14px;
          }
        }
      }
      textarea {
        color: #fff;
        border-color: #484848;
        box-shadow: none;
        outline: none !important;
        background: {
          color: #323232;
        }
      }
    }
    p {
      margin-bottom: 4px;
      font: {
        family: "Noto Sans";
        size: 16px;
      }
      @media (max-width: 768px) {
        font: {
          size: 14px;
        }
      }
    }
  }
}

#acc-details {
  padding: 30px 0;
  font: {
    family: "Noto Sans";
  }
  .avatar {
    background: #fff;
    border-radius: 100%;
    height: 75px;
    width: 75px;
    margin-bottom: 14px;
    display: inline-block;
    position: relative;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .acc-title {
    text-align: center;
    margin-bottom: 12px;
    font: {
      size: 22px;
    }
  }
  .account-no {
    padding: 0 10%;
    text-align: left;
    i {
      color: map-get($color, acc-details-copy-btn);
      cursor: pointer;
      margin-right: 3px;
    }
    p {
      font: {
        size: 16px;
        weight: 300;
      }

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: map-get($color, acc-details-acc-no);
      .btn {
        margin-right: 6px;
      }
    }
  }
  .info {
    text-align: center;
    margin-bottom: 20px;
    p {
      font: {
        weight: 300;
      }
      padding: 5px 0;
      margin-bottom: 8px;
      color: #fff;
      background: #323232;
    }
  }
  .qr {
    margin-bottom: 30px;
    text-align: center;
  }
  .ftm-no {
    p {
      width: calc(100% - 20%);
      text-align: center;
      margin: auto;
      color: #fff;
      border: 1px solid #4a4a4a;
      background: #323232;
      padding: 2rem 2rem;
      border-radius: 8px;
      font: {
        size: 22px;
      }
      span {
        font: {
          size: 80%;
          weight: 300;
        }
      }
    }
  }
}

#acc-cards {
  color: #fff;

  font: {
    family: "Noto Sans";
  }
  .card {
    margin-top: 10px;
    .row {
      margin: 0;
    }
    .col {
      padding: 0;
    }
  }
  .date-col {
    text-align: center;
    max-width: 60px;
    border-right: 1px solid #4a4a4a;
  }
  .acc-no-col {
    p {
      font: {
        size: 16px;
        weight: 300;
      }

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: map-get($color, acc-details-card-acc-no);
      span {
        color: #fff;
      }
    }
  }
  .time-col {
    p {
      white-space: nowrap;
      font: {
        size: 14px;
      }
    }
  }
  .btn-col {
    .btn {
      color: #fff;
      &.btn-green {
        background: #6abb10;
      }
      &.btn-red {
        background: #ff2627;
      }
    }
  }
}
