.btn {
  font-family: "Noto Sans";
  padding: {
    left: 30px;
    right: 30px;
  }
  &.rounded {
    border-radius: 50px !important;
  }
  &.btn-primary {
    box-shadow: none;
    border: 1px solid map-get($color, btn-primary);
    background: {
      color: map-get($color, btn-primary);
    }
    &:hover {
      background: {
        color: map-get($color, btn-primary-hover);
      }
    }
  }
  &.btn-dark {
    border: 2px solid map-get($color, btn-dark-outline);
    background: {
      color: map-get($color, btn-dark);
    }
    &:hover {
      background: {
        color: map-get($color, btn-dark-hover);
      }
    }
  }
}

.clipboard-btn {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0px;
  background: none;
  border: 0;
  box-shadow: none !important;
}
