.container {
  &.account-card-container {
    @media (min-width: 768px) {
      max-width: 580px;
    }
    @media (min-width: 992px) {
      max-width: 905px;
    }
    @media (min-width: 1401px) {
      max-width: 1200px;
    }
  }
  &.acc-details-container {
    @media (max-width: 1200px) and (min-width: 992px) {
      max-width: 1200px;
    }
  }
}
