@font-face {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../fonts/Work_Sans/WorkSans-Thin.ttf') format('truetype'); /* Legacy iOS */
}
@font-face {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../fonts/Work_Sans/WorkSans-ExtraLight.ttf') format('truetype'); /* Legacy iOS */
}
@font-face {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/Work_Sans/WorkSans-Light.ttf') format('truetype'); /* Legacy iOS */
}
@font-face {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Work_Sans/WorkSans-Regular.ttf') format('truetype'); /* Legacy iOS */
}
@font-face {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Work_Sans/WorkSans-Medium.ttf') format('truetype'); /* Legacy iOS */
}
@font-face {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Work_Sans/WorkSans-SemiBold.ttf') format('truetype'); /* Legacy iOS */
}
@font-face {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Work_Sans/WorkSans-Bold.ttf') format('truetype'); /* Legacy iOS */
}
@font-face {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/Work_Sans/WorkSans-ExtraBold.ttf') format('truetype'); /* Legacy iOS */
}
@font-face {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/Work_Sans/WorkSans-Black.ttf') format('truetype'); /* Legacy iOS */
}
