#create-account-form {
  .pass-validator {
    margin-top: 0px;
    @media (min-width: 768px) {
      margin-top: 32px;
    }
    li {
      white-space: nowrap;
      font: {
        family: "Roboto";
        size: 16px;
      }
      color: #fff;
      list-style: none;
      .ico {
        height: 16px;
        margin-right: 10px;
      }
    }
  }
  .form-group {
    margin-bottom: 32px;
    @media (max-width: 767px) {
      margin-bottom: 24px;
    }
    &.form-radio-label {
      margin-bottom: 16px;
    }
  }
  input {
    font: {
      family: "Roboto";
    }
    background: {
      color: transparent;
      repeat: no-repeat;
      size: auto 20px;
      position: left center;
    }
    padding-left: 38px;
    border: 0px;
    border-bottom: 1px solid #383838;
    color: #fff;
    box-shadow: none;
    border-radius: 0px;
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &:-moz-placeholder {
      color: #8e8e8e !important;
    }
    &::placeholder {
      color: #8e8e8e !important;
    }
    &:not(:placeholder-shown),
    &:focus {
      border-bottom: 1px solid #dcdcdc;
    }
  }
}

.back-next-btn {
  .btn {
    &.light {
      opacity: 0.7;
    }
    border: 0;
    box-shadow: none !important;
    background: transparent !important;
    color: map-get($color, back-next-btn);
    font: {
      family: "Roboto";
      size: 26px;
    }
    @media (max-width: 767px) {
      font: {
        size: 20px;
      }
    }
    &:hover,
    &:active {
      color: map-get($color, back-next-btn-hover);
    }
  }
}

#transaction-form {
  $form-input-border: #4a4a4a;
  $form-input-background: #292929;
  $form-input-color: #fff;
  .heading {
    font: {
      family: "Roboto";
      size: 30px;
    }
    margin-bottom: 3rem;
  }
  .form {
    padding: 24px 0 0;
    label {
      color: #fff;
      font: {
        family: "Roboto";
        size: 14px;
        weight: 300;
      }

      letter-spacing: 1px;
    }

    input {
      &[type="text"],
      &[type="email"],
      &[type="password"] {
        color: $form-input-color;
        border: 1px solid $form-input-border;
        padding-left: 42px;
        font: {
          family: "Roboto";
          size: 16px;
        }
        background: {
          color: $form-input-background;
          repeat: no-repeat;
          size: auto 48%;
          position: center left 15px;
        }
      }
    }

    .dropdown {
      .toggle-btn {
        position: relative;
        font: {
          family: "Roboto";
          size: 16px;
        }
        padding-left: 42px;
        text-align: left;
        width: 100%;
        border: 1px solid $form-input-border;
        color: $form-input-color;
        background: {
          color: $form-input-background;
          repeat: no-repeat;
          size: auto 48%;
          position: center left 15px;
        }
        .ftm {
          position: absolute;
          top: 50%;
          right: 15px;
          transform: translateY(-50%);
        }
      }
      .dropdown-menu {
        width: 100%;
      }
    }
    select {
      padding-left: 42px;
      background: {
        color: $form-input-background;
        repeat: no-repeat;
        size: auto 48%;
        position: center left 15px;
      }
    }
    textarea {
      color: $form-input-color;
      border: 1px solid $form-input-border;
      background: {
        color: $form-input-background;
      }
    }
  }
}
