$white: #fff;
// $theme-blue: #549aec;
$theme-blue: #00b1ff;

$theme-blue-hover: #4b89ca;
$color: (
  white: $white,
  black: #000,
  nav-link: $white,
  nav-link-hover: #8e8e8e,
  nav-link-active: #549aec,
  footer-menu-title: $theme-blue,
  footer-menu-link: $white,
  text-primary: $theme-blue,
  btn-primary: $theme-blue,
  btn-primary-hover: $theme-blue-hover,
  btn-dark: #000,
  btn-dark-hover: #3b4c5a,
  btn-dark-outline: #679ed2,
  btn-add-wallet: #1c1c1c,
  btn-add-wallet-background: $white,
  back-next-btn: $white,
  back-next-btn-hover: #ccc,
  acc-info-copy-text: $white,
  acc-info-copy-btn: $theme-blue,
  acc-info-acc-name: $white,
  acc-info-address-title: $theme-blue,
  acc-details-copy-btn: $theme-blue,
  acc-details-acc-no: $white,
  acc-details-card-acc-no: $theme-blue,
  card-account-no: $theme-blue,
  add-wallet-title: #feffff,
  add-wallet-title-background: $theme-blue,
  mnemonic-collector-list: $theme-blue,
  restore-vault-input-label: $white,
  modal-header-border-line: #cecece,
  modal-title: $theme-blue,
  modal-footer-bg: #f7f5f4
);

$primary-font: "Roboto";
$secondary-font: "Lato";

$font: (
  header-menu: $primary-font,
  header-menu-size: 16px,
  footer-menu-title: $primary-font,
  footer-menu-title-size: 20px,
  footer-menu-link: $secondary-font,
  footer-menu-link-weight: 300,
  footer-menu-link-size: 16px,
  landing-banner: $secondary-font,
  page-title: $primary-font,
  acc-process: $primary-font,
  wallet-bar: $primary-font,
  wallet-bar-size: 20px,
  modal-title: $primary-font,
  modal-title-weight: 500,
  modal-btn: $primary-font,
  modal-btn-weight: 300,
  modal-body-text: $secondary-font,
  modal-body-text-weight: 400,
  btn: $primary-font,
  restore-confirm: $primary-font
);

$navlink-textTransform: uppercase;

.modal {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex !important;
  align-items: center;
  justify-content: stretch;
}

.modal-dialog {
  width: 100%;
}

.modal-header {
  color: white;
  background: $theme-blue;
}

.modal-footer {
  .btn {
    min-width: 100px;
  }
}

.btn {
  outline: none !important;

  &.btn-primary.bordered {
    background: none !important;
    color: $theme-blue;
    border: 1px solid $theme-blue;
  }

  &.btn-secondary {
    &:not(:disabled):not(.disabled):active:focus, &:hover {
      outline: none;
      background: none;
      box-shadow: none;
    }
  }

  &.btn-secondary.bordered {
    background: none !important;
    color: #999999;
    border: 1px solid #999999;
  }
}

:global() {
  .modal-footer {
    background: red;
  }
}
