$color: (
  white: #fff,
  black: #000,
  nav-link: #fff,
  nav-link-hover: #8e8e8e,
  btn-dark: #000,
  btn-dark-hover: #3b4c5a,
  btn-dark-outline: #679ed2
);

$navlink-fontFamily: "Noto Sans";
$navlink-textTransform: uppercase;
