$white: #fff;
$theme-blue: #549aec;
$theme-blue-hover: #4b89ca;
$color: (
  white: $white,
  black: #000,
  nav-link: $white,
  nav-link-hover: #8e8e8e,
  footer-menu-title: $theme-blue,
  footer-menu-link: $white,
  text-primary: $theme-blue,
  btn-primary: $theme-blue,
  btn-primary-hover: $theme-blue-hover,
  btn-dark: #000,
  btn-dark-hover: #3b4c5a,
  btn-dark-outline: #679ed2,
  btn-add-wallet: #1c1c1c,
  btn-add-wallet-background: $white,
  back-next-btn: $theme-blue,
  back-next-btn-hover: $theme-blue-hover,
  acc-info-copy-text: $white,
  acc-info-copy-btn: $theme-blue,
  acc-info-acc-name: $white,
  acc-info-address-title: $theme-blue,
  acc-details-copy-btn: $theme-blue,
  acc-details-acc-no: $white,
  acc-details-card-acc-no: $theme-blue,
  card-account-no: $theme-blue,
  add-wallet-title: #feffff,
  add-wallet-title-background: $theme-blue,
  mnemonic-collector-list: $theme-blue,
  restore-vault-input-label: $white,
  modal-header-border-line: #cecece,
  modal-title: $theme-blue,
  modal-footer-bg: #f7f5f4
);

$navlink-fontFamily: "Roboto";
$footerTitle-fontFamily: "Roboto";
$footerlink-fontFamily: "Lato";
$navlink-textTransform: uppercase;
