header {
  // height: 170px;
  background: #000;
  position: relative;
  position: sticky;
  top: 0;
  z-index: 999999;
  .nav-holder {
    padding: 20px 0;
  }
  nav {
    overflow: hidden;
    // max-width: 1600px;
    max-width: 1140px;
    margin: auto;
    .logo {
      height: 30px;
    }
    .navbar-collapse {
      position: relative;
      &:before {
        @media (max-width: 767px) {
          position: absolute;
          content: "";
          top: 0;
          right: 0px;
          bottom: 0;
          left: 0px;
          background: #383838;
          z-index: -1;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }
      .navbar-nav {
        .nav-item {
          // @media (min-width: 768px) {
          //   margin-left: 50px;
          // }
          // @media (min-width: 992px) {
          //   margin-left: 100px;
          // }
          // @media (min-width: 1201px) {
          //   margin-left: 160px;
          // }
          @media (min-width: 768px) {
            margin-left: 20px;
          }
          @media (min-width: 992px) {
            margin-left: 40px;
          }
          &:nth-child(1) {
            margin-left: 0 !important;
            border-top: 0px !important;
          }

          font: {
            family: $navlink-fontFamily;
            size: 16px;
            weight: 400;
          }
          @media (max-width: 767px) {
            border-top: 1px solid #000;
            font: {
              size: 14px;
            }
          }
          .nav-link {
            text-transform: $navlink-textTransform;
            transition: 0.3s all;
            color: map-get($color, nav-link);
            &:hover {
              color: map-get($color, nav-link-hover);
            }
            @media (max-width: 767px) {
              text-align: center;
              padding: 10px 0;
            }
          }
        }
      }
    }
  }
}

#footer {
  padding: 0 0 60px;
  .col-md-3 {
    @media (max-width: 575px) {
      margin-bottom: 15px;
    }
  }
  .container {
    padding-top: 60px !important;
    border-top: 1px solid #1c1c1c;
    @media (min-width: 992px) {
      max-width: 890px;
    }
    @media (max-width: 575px) {
      padding: 0 40px;
    }
  }

  .menu-title {
    margin-bottom: 20px;
    color: map-get($color, footer-menu-title);
    font: {
      family: $footerTitle-fontFamily;
      size: 20px;
    }
  }
  .menu {
    padding: 0;
    .menu-item {
      margin-bottom: 4px;
      .menu-link {
        color: map-get($color, footer-menu-link);
        font: {
          family: $footerlink-fontFamily;
          size: 16px;
          weight: 300;
        }

        @media (max-width: 767px) {
          font: {
            size: 14px;
          }
        }
      }
    }
  }
}
