$mobile-width: 285px;

#footer {
  padding: 0 0 60px;
  .col-md-3 {
    @media (max-width: 575px) {
      margin-bottom: 15px;
    }
  }
  .container {
    padding-top: 60px !important;
    border-top: 1px solid #1c1c1c;
    @media (min-width: 992px) {
      max-width: 890px;
    }
    @media (max-width: 575px) {
      padding: 0 40px;
    }
  }

  .menu-title {
    margin-bottom: 20px;
    color: map-get($color, footer-menu-title);
    font: {
      family: map-get($font, footer-menu-title);
      size: map-get($font, footer-menu-title-size);
    }
  }
  .menu {
    padding: 0;
    .menu-item {
      margin-bottom: 4px;
      .menu-link {
        color: map-get($color, footer-menu-link);
        font: {
          family: map-get($font, footer-menu-link);
          size: map-get($font, footer-menu-link-size);
          weight: map-get($font, footer-menu-link-weight);
        }

        @media (max-width: 767px) {
          font: {
            size: map-get($font, footer-menu-link-size) - 2px;
          }
        }
      }
    }
  }
}

@keyframes overley-body {
  from {
    right: -$mobile-width;
  }

  to {
    right: 0px;
  }
}
@keyframes overley-body-closing {
  from {
    right: 0px;
  }

  to {
    right: -$mobile-width;
    opacity: 0;
  }
}
@keyframes dim {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
