$border-radius: 8px;
#mnemonic-collector {
  position: relative;
  max-width: 804px;
  border: 2px dashed #fff;
  border-radius: $border-radius;
  padding: 54px 64px;
  margin: auto;
  @media (max-width: 767px) {
    padding: 25px;
  }
  ul {
    &.blur {
      filter: blur(4px);
    }
    text-align: center;
    padding: 0;
    margin: 0;
    margin: -22px -15px;
    @media (max-width: 767px) {
      margin: -15px;
    }
    @media (max-width: 1400px) {
      margin: -6px -15px;
    }
    li {
      margin: 22px 15px;
      display: inline-block;
      color: map-get($color, mnemonic-collector-list);
      font: {
        family: "Roboto Condensed";
        size: 26px;
      }
      @media (max-width: 767px) {
        margin: 15px;
        font: {
          size: 22px;
        }
      }
      @media (max-width: 1400px) {
        margin: 6px 15px;
      }
    }
  }
  .blur-overley {
    border-radius: $border-radius;
    width: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(103, 103, 103, 0.72);
    .holder {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      padding: 0 20px;
      h2 {
        color: #fff;
        text-align: center;
        font: {
          family: "Roboto Condensed";
          size: 26px;
        }

        @media (max-width: 576px) {
          font-size: 20px;
        }
      }
    }
  }
}

#mnemonic-selector {
  .bg-dark-light {
    padding: {
      top: 42px;
      bottom: 70px;
    }
  }
  h2 {
    margin: 55px 0 40px;
    font: {
      family: "Noto Sans";
      size: 24px;
    }
    @media (max-width: 767px) {
      font: {
        size: 20px;
      }
    }
    @media (max-width: 575px) {
      font: {
        size: 18px;
      }
    }
  }

  .btn {
    border-radius: $border-radius;
    padding: 4px 26px;
    font: {
      family: "Noto Sans";
      size: 16px;
    }
  }
  ul {
    padding: 0;
    margin: 0 -8px;
    margin-top: -16px;
    li {
      display: inline-block;
      margin: 0 8px;
      margin-top: 16px;
    }
  }
  .mnemonic-container,
  .mnemonic-selector {
    text-align: center;
    margin: auto;
  }
  .mnemonic-container {
    max-width: 804px;
    border: 2px dashed #fff;
    min-height: 146px;
    border-radius: $border-radius;
    padding: 54px 64px;
    margin-bottom: 100px;
    @media (max-width: 991px) {
      margin-bottom: 80px;
    }
    @media (max-width: 767px) {
      min-height: 98px;
      padding: 30px;
      margin-bottom: 60px;
    }
    @media (max-width: 575px) {
      padding: 30px 20px;
    }
    ul {
      li {
        .btn {
        }
      }
    }
  }
  .mnemonic-selector {
    max-width: 727px;

    ul {
      li {
        .btn {
        }
        &.selected {
          .btn {
            &.btn-primary {
              border: 1px solid map-get($color, btn-primary) !important;
            }
            box-shadow: none !important;
            background: transparent;
            color: transparent;
            cursor: default;
          }
        }
      }
    }
  }
}
.mnemonic-btn {
  padding: 40px 0;
  .btn {
    height: 50px;
    margin: auto;
    margin-bottom: 24px;
    display: block;
    text-transform: uppercase;
    transition: 0.3s all;
    &:hover {
      opacity: 0.7;
    }
    &.create-wallet {
      color: map-get($color, btn-primary);
      border: 2px solid map-get($color, btn-primary);
      background: transparent;
    }
    &.cancel {
      color: #fff;
      border: 1px solid #fff;
      background: transparent;
    }
    @media (max-width: 768px) {
      height: 40px;
      margin-bottom: 20px;
      font: {
        size: 14px;
      }
    }
  }
}
