// .modal {
//   .modal-backdrop {
//     opacity: 0.7;
//   }
//   .modal-dialog {
//     @media (min-width: 576px) {
//       max-width: 600px;
//     }
//     .modal-content {
//       .modal-header,
//       .modal-footer {
//         padding: 16px 26px;
//       }
//       .modal-header {
//         padding-top: 26px;
//         position: relative;
//         border: 0px;
//         &::before {
//           content: "";
//           position: absolute;
//           height: 1px;
//           bottom: 0;
//           left: 26px;
//           right: 26px;
//           background: {
//             color: map-get($color, modal-header-border-line);
//           }
//         }
//         .modal-title {
//           color: map-get($color, modal-title);
//           font: {
//             family: map-get($font, modal-title);
//             weight: map-get($font, modal-title-weight);
//           }
//         }
//         button {
//           outline: none !important;
//         }
//       }
//       .modal-body {
//         padding: 30px 26px;
//         p {
//           font: {
//             family: map-get($font, modal-body-text);
//             weight: map-get($font, modal-body-text-weight);
//           }
//         }
//       }
//       .modal-footer {
//         background: {
//           color: map-get($color, modal-footer-bg);
//         }
//         .btn {
//           text-transform: uppercase;
//           font: {
//             family: map-get($font, modal-btn);
//             weight: map-get($font, modal-btn-weight);
//           }
//         }
//       }
//     }
//   }
// }

