#print-screen {
  position: relative;
  background: #fff;
  max-width: 900px;
  margin: 200px auto 0;

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    right: -15px;
    bottom: -15px;
    left: -15px;
    background: #fff;
  }
  
  .row {
    margin: 0;
    .col {
      padding: 0;
      &.info {
        @include responsive-width(calc(100% - 105px));
        h2 {
          margin-bottom: 8px;
          font: {
            family: "Roboto";
            size: 22px;
            weight: 700;
          }
        }
        p {
          margin-bottom: 1rem;
          font: {
            family: "Lato";
            size: 18px;
          }
        }
        .qr {
          padding-top: 10px;
        }
      }
      &.brand {
        background-color: #00b1ff;
        .brand-holder {
          text-align: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: rotate(-90deg) translate(-50%, -50%);
          transform-origin: 0 0;
          img {
            height: 37px;
          }
          p {
            margin: 0;
            color: #fff;
            font: {
              family: "Lato";
              size: 13px;
            }
          }
        }
      }
    }
  }
}
