.wallet-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .title {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;

    padding: 8px 30px;
    margin: 0;
    color: map-get($color, add-wallet-title);
    background: {
      color: map-get($color, add-wallet-title-background);
    }
    font: {
      family: "Noto Sans";
      size: 22px;
      weight: 300;
    }
    @media (max-width: 991px) {
      font: {
        size: 20px;
      }
    }
    @media (max-width: 767px) {
      padding: 7px 18px;
      font: {
        size: 18px;
      }
    }
  }
}
.add-wallet {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .title {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    font: {
      family: "Roboto Condensed";
      size: 24px;
    }
    padding: 12px 30px;
    margin: 0;
    color: map-get($color, add-wallet-title);
    background: {
      color: map-get($color, add-wallet-title-background);
    }
    @media (max-width: 991px) {
      font: {
        size: 22px;
      }
    }
    @media (max-width: 767px) {
      padding: 12px 18px;
      font: {
        size: 20px;
      }
    }
  }

  .dropdown {
    position: relative;
    width: 100px;
    color: map-get($color, btn-add-wallet);
    border-radius: 0;
    background: {
      color: map-get($color, btn-add-wallet-background);
    }
    .toggle-btn {
      width: 100%;
      height: 100%;
      padding: 0;
    }
  }
  .btn {
    position: relative;
    width: 65px;
    color: map-get($color, btn-add-wallet);
    border-radius: 0;
    background: {
      color: map-get($color, btn-add-wallet-background);
    }
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &.fa-plus {
        border: 3px solid;
        padding: 5px;
        border-radius: 100%;
      }
      &.fa-print {
        font-size: 24px;
      }
      &.fa-sync-alt {
        font-size: 22px;
      }
    }
  }
}
