.add-wallet {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .title {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    font: {
      family: "Roboto Condensed";
    }
    padding: 23px;
    margin: 0;
    color: map-get($color, add-wallet-title);
    background: {
      color: map-get($color, add-wallet-title-background);
    }
  }
  .btn {
    -ms-flex: 0 0 25%;
    flex: 0 0 25px;
    max-width: 25px;
  }
}
