@import '~/styles/variables.scss';
.particles {
  height: 100%;
  flex: 1;
  position: relative;
  z-index: 0;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.slogan {
  letter-spacing: 3px;
  font-size: 63px;
  font-weight: 400;
  text-transform: uppercase;
}

.subtitle {
  text-transform: uppercase;
}

.rounded {
  text-transform: uppercase;
  margin: 0 40px;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 20px;
  border: 2px solid #679ed2;
  background-color: #000;
  border-radius: 50px !important;
  font-family: 'Roboto';
  padding-left: 30px;
  padding-right: 30px;
  color: white !important;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
}

.banner {
  position: absolute;
  left: 0;
  right: 0;
  top: 22%;
  // left: 0;
  // top: 0;
  // width: 100%;
  // height: 100%;
  // align-items: center;
  // justify-content: center;
  // display: flex;
  // flex-direction: column;
  // z-index: 1;
  // text-align: center;
  // padding: 40px;
  // box-sizing: border-box;

  // & > * {
  //   margin: 30px 0;
  // }

  // h3 {
  //   font-weight: 200;
  // }
  .heading {
    font-size: 48px;
    color: #fff;
  }
  h3 {
    color: rgba(#fff, 0.8);
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  // margin-top: 20px;

  & > * {
    margin: 0 10px;
  }
}
.homeWrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  .periwinkle {
    background: map-get($color, dark-periwinkle);
    color: #fff;
  }
  .topaz {
    background: map-get($color, topaz);
    color: #fff;
  }
  p {
    font-size: 14px;
  }
  .walletBtn {
    background: transparent;
    border: 0;
    color: #fff;
    font-weight: 600;
    padding: 0;
    margin-top: 30px;
    position: relative;
    i {
      font-size: 20px;
      position: absolute;
      top: 3px;
      margin-left: 20px;
    }
  }
}
.cardContent {
  display: flex;
  justify-content: start;
  align-items: center;
  .cardIcon {
    flex: 0 0 30%;
    max-width: 30%;
    text-align: center;
  }
  .homecontent {
    flex: 0 0 calc(100% - 30%);
    max-width: calc(100% - 30%);
  }
}
