@import '~/styles/variables.scss';

.wrap {
  margin: 60px auto;
}

.row {
  padding: 15px 0;
  background: $color_darkgray;
}

.transactions {
  display: flex;
}
.createWalletModal {
  max-width: 570px;
  > div {
    border-radius: 25px !important;
  }
}
