@import '~/styles/variables.scss';
.container {
  max-width: 1070px;
}
.iconGap {
  margin-bottom: 40px;
}
.leftCol {
  @media (min-width: $desktop) {
    flex: 0 0 63.637%;
    max-width: 63.637%;
  }
}
.rightCol {
  @media (min-width: $desktop) {
    flex: 0 0 36.363%;
    max-width: 36.363%;
  }
}
.copyBtn {
  cursor: pointer;
  background: transparent;
  border: 0;
  padding: 0;
}

.card {
  text-align: center;
  max-width: 470px;

  margin: {
    left: auto;
    right: auto;
  }
}

.hash {
  display: flex;
  flex-wrap: wrap;

  a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 24px;
    font-weight: 600;
    flex: 0 0 calc(100% - 18px);
    max-width: calc(100% - 18px);
  }

  .copyBtn {
    flex: 0 0 18px;
    max-width: 18px;

    svg {
      width: 18px;
      height: 20px;
      color: rgba(map-get($color, dark-grey-blue), 0.5);
    }
  }
}
.headWrapper {
  @media (max-width: $tablet) {
    background: #fff;
    margin: 0 -25px 20px;
    padding: 0px 25px 20px;
  }
  @media (max-width: $smallPhone) {
    margin: {
      left: -15px;
      right: -15px;
    }
    padding: {
      left: 15px;
      right: 15px;
    }
  }
}
.balanceCard {
  @media (max-width: $desktop) {
    max-height: 522px;
  }
}
