@import '~/styles/variables.scss';

.inputContainer {
  margin: 40px 0;
  position: relative;
  .labelWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  .label {
    font-size: 18px;
    font-weight: 600;
    color: map-get($color, dark-grey-blue);
    margin: {
      right: 18px;
      bottom: 0;
    }
  }
  .labelSubText {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .entireBalance {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    flex-grow: 1;
    text-align: right;
    color: map-get($color, topaz);
  }
  .inputWrapper {
    position: relative;
  }
  .input {
    background: #f8f9fa;
    border-color: #f8f9fa;
    position: relative;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: map-get($color, dark-grey-blue);
    height: 40px;
    box-shadow: none;

    &::-webkit-input-placeholder {
      color: rgba(map-get($color, dark-grey-blue), 0.3);
      font-weight: 400;
    }

    &:-moz-placeholder {
      color: rgba(map-get($color, dark-grey-blue), 0.3);
      font-weight: 400;
    }

    &::-moz-placeholder {
      color: rgba(map-get($color, dark-grey-blue), 0.3);
      font-weight: 400;
    }

    &:-ms-input-placeholder {
      color: rgba(map-get($color, dark-grey-blue), 0.3);
      font-weight: 400;
    }
    &.error {
      border-color: rgba(map-get($color, darkish-pink), 0.9);
    }
  }
  .errorText {
    color: map-get($color, darkish-pink);
    font-size: 14px;
    font-weight: 500;
    margin: 0;
  }
  .warning {
    font-size: 12px;
    color: #416ed5;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    line-height: normal;
    i {
      margin-top: 5px;
    }
  }
}
