@import "~/styles/variables.scss";

.wrap {
  padding: 30px;

  h2 {
    padding: 0 0 30px 0;
    text-transform: uppercase;
    text-align: center;
  }
}

.form {
  padding-top: 10px;
}

.item {
  padding: 10px 0;
}

.button {
  text-align: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & > button {
    margin: 5px 0;
  }
}

.error {
  color: $color_red;
}