@import '~/styles/variables.scss';
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  position: sticky;
  background: #fff;
  z-index: 999;
  top: 0;
  left: 0;
  @media (max-width: $tablet) {
    padding: 25px;
  }
  @media (max-width: $smallPhone) {
    padding: 25px 15px;
  }
  .logo {
    @media (max-width: $tablet) {
      height: 31px;
    }
  }
}
.sidebarWrapper {
  flex: 0 0 $dashboardSidebarWidth;
  @media (min-width: 360.98px) {
    max-width: $dashboardSidebarWidth;
  }
  @media (max-width: $largeDesktop) {
    position: fixed;
    top: 0;
    right: -$dashboardSidebarWidth;
    width: 100%;
    height: 100vh;
    z-index: 999;
    transition: 0.3s;
    &.active {
      right: 0;
    }
  }
  @media (max-width: 360.98px) {
    right: -100vw;
  }
}

.root {
  position: relative;
  background: map-get($color, Primary-Main);
  height: 100%;

  @media (min-width: $largeDesktop) {
    padding-top: 40px;
    border-top-right-radius: 50px;
  }
  @media (max-width: $largeDesktop) {
    border-top-left-radius: 50px;
  }
  .head {
    @media (max-width: $largeDesktop) {
      position: absolute;
      width: 100%;
      height: 84px;
      left: 0;
      top: 0;
      border-top-left-radius: 50px;
      background: map-get($color, Primary-Main);
      z-index: 1;
      display: flex;
      align-items: center;
      padding: 0 25px;
    }
  }
}
.logoWrapper {
  text-align: center;
  @media (min-width: $tablet) and (max-width: $largeDesktop) {
    display: none;
  }
  @media (min-width: $largeDesktop) {
    margin-bottom: 97px;
  }
  img {
    @media (max-width: $tablet) {
      height: 31px;
    }
  }
}
.close {
  line-height: 1;
  color: #fff;
  font-size: 46px;
  font-weight: 700;
  position: absolute;
  right: 37px;
  top: 27px;
  @media (max-width: $tablet) {
    top: 16px;
    right: 25px;
  }
}
.menusWrapper {
  @media (max-width: $largeDesktop) {
    padding-top: 178px;
    padding: {
      top: 178px;
      bottom: 50px;
    }
    height: 100vh;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
  }
  @media (max-width: $tablet) {
    padding-top: 162px;
  }
  .menus {
    padding: 0 15px;
    width: fit-content;
    margin: auto;
    li {
      list-style: none;
      &:not(:last-child) {
        margin-bottom: 80px;
      }
      &:not(.active) {
        a {
          opacity: 0.5;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    a {
      display: flex;
      align-items: center;
      color: #fff !important;
      font-size: 24px;
      font-weight: 600;
      img {
        margin-right: 20px;
      }
    }
  }
}
