@import '~/styles/variables.scss';
.tokenlistBtn {
  width: 100%;
  border: 0;
  border-radius: 8px;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px 16px;
  outline: none !important;
  margin-bottom: 20px;
  transition: 0.2s;
  &:hover,
  &:active {
    background-color: darken(#f8f9fa, 10%);
  }
  .circle {
    width: 24px !important;
    height: 24px !important;
  }
  i {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
  }
}
.balance {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
  img {
    width: 26px;
    height: 26px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 17px;
  }
}
.buyCard {
  padding: 30px 60px !important;
}
.header {
  h2 {
    position: relative;
    text-align: center;
    margin: 0;
    i {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 22px;
    }
  }
}
.buyTable {
  td,
  th {
    border-top: 0;
    padding: 25px 40px !important;
  }
}
.buyTableWrapper {
  max-height: 450px;
  overflow: auto;
}

.valueWrapper {
  position: relative;
  margin-top: 50px;
  .value {
    text-align: center;
    font-size: 72px;
    font-weight: 600;

    span {
      position: relative;

      .tokeName {
        position: absolute;
        left: 100%;
        bottom: 0;
        margin-left: 10px;
      }
    }
  }
  .convert {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    img {
      margin-bottom: 6px;
    }
    p {
      font-size: 16px;
    }
  }
}
.rangeBtnWrapper {
  margin-bottom: 50px;
  text-align: center;
  button {
    font-size: 12px;
    line-height: 0;
    height: 24px;
    min-width: 80px;
    border-radius: 8px;
    margin: 0 5px;
  }
}
.backBtn {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
