@import '~/styles/variables.scss';

.center {
  text-align: center;
}

.container {
  background: $color_darkgray;
  padding-top: 60px;
}

.warn {
  color: red;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  flex-direction: column;

  & > button {
    margin: 10px 0;
  }
}

.content {
  max-width: 800px;
  margin: auto;
  background: transparentize($color_lightgray, 0.5);
}

.inputs {
  padding: 20px;
  text-align: center;

  textarea {
    text-align: center;
  }
}

.dropzone {
  min-height: 25vh;
  flex: 1 0 25vh;
  border-radius: 6px;
  border: 4px dashed #999999;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  h2 {
    text-transform: uppercase;
    opacity: 0.3;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.or {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 30px 0;
  font-size: 20px;

  &::before,
  &::after {
    content: ' ';
    height: 2px;
    flex: 1;
    background: white;
  }

  span {
    margin: 0 10px;
  }
}

.error {
  color: red;
  margin-top: 10px;
}

@import '~/styles/variables.scss';
$gap: 15px;

.optionsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: {
    left: -$gap;
    right: -$gap;
    bottom: 51px;
  }

  .optionCol {
    padding: {
      left: $gap;
      right: $gap;
    }

    flex: 0 0 #{170px + $gap * 2};
    max-width: 170px + $gap * 2;

    .option {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-radius: 20px;
      padding: 17px 12px 20px;
      text-align: center;

      h4 {
        margin-bottom: 2px;
      }

      &:not(.active) {
        background-color: #f8f9fa;
      }

      &.active {
        box-shadow: 0 0 0 3px map-get($color, topaz);
      }

      svg {
        margin-bottom: 17px;
      }
    }
  }
}

.inputWrapper {
  position: relative;

  .errorText {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: map-get($color, scarlet);
  }
}

.inputLabel {
  margin-bottom: 10px;
}

.input {
  font-size: 16px;
  font-weight: 500;
  border: 0;
  color: #2b3954;
  border-radius: 12px;
  outline: none !important;
  box-shadow: none !important;
  background-color: #f8f9fa !important;
  width: 100%;
  padding: 15px 16px;

  &.isError {
    border: solid 1px map-get($color, scarlet);
  }

  &.textarea {
    width: 100% !important;
    min-height: 130px;
    height: 130px;
    max-height: 200px;
    margin-bottom: 80px;
  }
}

.btn {
  width: 240px;
}
.fileUploadBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 20px;
    margin-right: 16px;
  }
}
