@import '~/styles/variables.scss';

.input {
  position: relative;

  i {
    position: absolute;
    bottom: 9px;
    left: 7px;
    font-size: 18px;
  }

  img {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    bottom: 9px;
    left: 7px;
  }

  input {
    outline: none !important;
    color: white;
    height: 40px;
    width: 100%;
    font-size: 20px;
    box-sizing: border-box;
    padding: 5px;
    transition: border 0.25s;
    font-size: 16px;

    &:focus {
      border-bottom: 1px solid $color_primary;
    }
  }

  &.usual {
    input {
      border: 1px solid lighten($color_input_bg, 8%);
      background: $color_input_bg !important;
      border-radius: 4px;
    }
  }

  &.seamless {
    input {
      border: none;
      border-bottom: 1px solid white;
      background: none !important;
    }
  }

  &.has_icon {
    input {
      padding: 5px 5px 5px 32px;
    }
  }
}
