@import '~/styles/variables.scss';
$sidebarWidth: 325px;
.root {
  background: #ecf0f8;
  position: relative;
  &::before {
    content: '';
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 269px;
    z-index: 1;
  }
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  position: relative;
  position: relative;
  z-index: 2;
}
.sidebarWrapper {
  flex: 0 0 $sidebarWidth;
  max-width: $sidebarWidth;
}
.contentWrapper {
  flex: 0 0 calc(100% - #{$sidebarWidth});
  max-width: calc(100% - #{$sidebarWidth});
  padding: 33px 0;
  .main {
    padding: 0 55px 0 30px;
    // max-width: 1280px - $sidebarWidth;
  }
  .contentHeader {
    margin-bottom: 40px;
  }
}

.sync {
  color: map-get($color, dark-grey-blue);
  font-size: 16px;
  margin: 0;
  svg {
    color: #21d3b1;
    margin-right: 10px;
  }
}
.label {
  font-size: 18px;
  font-weight: 600;
  color: rgba(map-get($color, dark-grey-blue), 0.5);
  margin-bottom: 21px;
}
.hashWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .hash {
    margin: 0;
    font: {
      size: 24px;
      weight: 600;
    }
    line-height: normal;
    max-width: 607px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: map-get($color, dark-grey-blue);
  }
  .hashHandlers {
    display: flex;
    align-items: center;
    button {
      cursor: pointer;
      color: rgba(map-get($color, dark-grey-blue), 0.7);
      background: transparent;
      border: 0;
      padding: 0;
      margin-left: 30px;
      &:hover {
        color: rgba(map-get($color, dark-grey-blue), 0.9);
      }
    }
  }
}
