@import '~/styles/variables.scss';

.modal {
  @media (min-width: $tablet) {
    max-width: 680px;
  }
  > div {
    border-radius: 22px 22px 20px 20px;
    border: 0;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);
    @media (min-width: $tablet) {
      min-height: 470px;
    }
  }
}
.header {
  display: flex;
  align-items: center;
  min-height: 60px;
  background: map-get($color, Primary-Main);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  h5 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
  }
  button {
    color: #fff !important;
    opacity: 1;
    padding: 6px 20px !important;
    font-size: 38px;
  }
}

.body {
}
